ul{
    list-style-type: lower-latin;
}
table td{
    border: 2px solid #ddd;
    background-color: #ddd;
    padding-right: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}
table{
    border-collapse: collapse;
}
td:hover{
    color: white;
    background-color: blue;
}
.circle{
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.container{
    display: flex;
}
.circle:hover{
    color: #ddd;
    background-color: blue;
}